extends layout

block content
  // Head
  .header
    .container
      .row
        .cards
          .card#main-card(onClick="start()")
            .cardText
              h3 Let your friends join and leave your live stream with a single click.
            video#localVideo
            img#localImage(src="/img/hearthstone-click-me-no-text.png")
          #remoteVideos

  .features
    .main-feature
      .container
        .row
          h1.title.text-center Stream with your friends using Overtwit.
        .row
          h3.form-signup-heading.text-center Join us in our beta. We’re launching soon (it's going to be awesome)!
        .row
          .form-signup.text-center
            form.form-inline(role="form", 
                             action="https://madmimi.com/signups/subscribe/98558", 
                             method="post", 
                             target="_blank")
              .form-group
                .col-md-12
                  input.input-lg(type="email", 
                                 placeholder="Email address", 
                                 name="signup[email]", 
                                 required="")
              button.btn.btn-lg.btn-success(type="submit") Get Notified!

    .feature0
      .container
        .row
          .col-md-4
            h1.featurette-heading STREAM FRIENDS
            p.lead.text-muted 
              | Add your friends to your stream 
              | through your browser, no setup required.
          .col-md-4.dividers
            h1.featurette-heading INSTANT SETUP
            p.lead.text-muted 
              | Instant setup with OBS or any other broadcast
              | program with a browser plugin. 
          .col-md-4
            h1.featurette-heading MULTIPLE GAMES
            p.lead.text-muted Switch from between games seamlessly using the web interface.

  script.
    var room = '#{room}';
    var autoplay = '#{autoplay}';
